* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
}

body {
    background: 
    radial-gradient(circle at center, #2c2c2c, #1a1a1a 50%, #101010 100%);
    color: #ffffff;
    line-height: 1.6;
    
}

.section {
    padding: 40px 10%;
}


.top-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.left-part, .right-part {
    width: 48%;
}

.href {
    font-size: 2.2em;
    font-weight: bold;
    display: block;
    margin-bottom: 0;
    text-align: left;
}

.text-left-top {
    text-align: left;
    font-size: 0.8em;
    opacity: 0.9;
    margin-bottom: 10px;
}

.big-pic img {
    width: 100%;
    border-radius: 10px;
}

.top-bottom-right-part {
    display: flex;
    align-items: center;
    gap: 15px;
}

.join-us {
    font-size: 18px;
    font-weight: bold;
}

.button-link {
    flex-grow: 1;
    display: flex;
}

.button-join-us {
    width: 100%;
    height: 1.4em;
    background: #fff200;
    border: none;
    border-radius: 8px;
    font-size: 20px;
}

.href-2 {
    font-size: 2em;
}

.three-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.box {
    width: 20%;
    background: #444444;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: height 0.5s ease; /* Плавная анимация */
    height: 34px; /* Устанавливаем начальную высоту */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.box-header {
    font-size: 1.2em;
    display: flex;
    align-items: stretch;
    margin-left: 15px;
    margin-top: 1%;
}

.box:hover {
    transform: scale(1.06);
    background: #494949;
}

.box-content {
    font-size: 0.7em;
    margin-left: 15px;
    margin-right: 10px;
    display: none;
    text-align: left;
    margin-left: 1em;
}

.box.expanded {
    height: 127px; /* Увеличиваем высоту при раскрытии */
}

.box.expanded .box-content {
    display: block;
}



.third-bottom-part {
    text-align: center;
    margin-top: 50px;
}

.href-3 {
    font-size: 1.8em;
    font-weight: bold;
    display: block;
    margin-bottom: 15px;
}

.links a {
    display: inline-block;
    background: #5D9B9B;
    color: white;
    padding: 10px 15px;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.links a:hover {
    background: #919191;
}

/* Адаптивность */
@media (max-width: 768px) {
    .top-part {
        flex-direction: column;
        text-align: center;
    }
    .left-part, .right-part {
        width: 100%;
    }
    .three-box {
        flex-direction: column;
    }
    .box {
        width: 100%;
    }
}